.metadata/
RemoteSystemsTempFiles/
attendance-pi/.gitignore
attendance-pi/.cproject
attendance-pi/.project
attendance-pi/.settings/
attendance-pi/bin/
attendance-pi/obj/

# Visual Studio
.vs
ARM
*.sdf
*.sln
*.startup.suo
*.VC.opendb
attendance-pi/ARM
attendance-pi/Assets
attendance-pi/Debug
attendance-pi/Release
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.bat

attendance-pi/bcm2835