.metadata/
RemoteSystemsTempFiles/
attendance-pi/.gitignore
attendance-pi/.cproject
attendance-pi/.project
attendance-pi/.settings/
attendance-pi/bin/
attendance-pi/obj/
attendance-pi/doc

# Visual Studio
.vs
ARM
*.sdf
*.sln
*.startup.suo
*.VC.opendb
attendance-pi/ARM
attendance-pi/Assets
attendance-pi/Debug
attendance-pi/Release
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.bat

attendance-pi/bcm2835
attendance-pi/curl

attendance-web/api/config.php
attendance-web/.htpasswd

#CURL
attendance-pi/curl-7.50.1/
#That library for the chip on the thing
attendance-pi/bcm2835-1.50/