html, body {
	padding: 0;
	margin: 0;
	height: 100vh;
}

.tbar {
	/* Box Style */
	background-color: #151515;
	padding: 5px;
}

.tbar .table {
	/* Table style */
	width: 100%;
}

.tbar .table .logo {
	/* Logo Style */
	font-size: 150%;
}

.tbar .table .user {
	/* User bar stye */
	text-align: right;
}

.pagebox {
	/* Box style */
	background-color: #151515;
	margin: 5px;
	border: 2px solid black;
	padding: 10px;
	display: inline-block;

	/* Text style */

}

.pagebox .title {
	/* Text style */
	font-size: 150%;
}

.pagebox table {
	/* Table properties */
	border-collapse: collapse;
}

.pagebox table td {
	/* Cell style */
	border-left: 1px solid #252525;
	border-bottom: 1px solid #252525;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.pagebox table .no_border_left { border-left: none; }
.pagebox table .no_border_bottom { border-bottom: none; }
.pagebox table .loading_cell { text-align: center; }
.pagebox table .error_cell { text-align: center; }
.pagebox table .status_cell { text-align: center; color: #606060; font-size: 80%; }
.pagebox table .action_cell { padding: none; font-family: "ligerbots-attendance-font"; padding: 0; vertical-align: center; }
.pagebox table .action_button { margin: 4px; }
.pagebox table .action_button:hover { text-shadow: 0 0 2px gray;}


/* Icon font */
@font-face {
	font-family: "ligerbots-attendance-font";
	src:url("fonts/ligerbots-attendance-font.eot");
	src:url("fonts/ligerbots-attendance-font.eot?#iefix") format("embedded-opentype"),
		url("fonts/ligerbots-attendance-font.woff") format("woff"),
		url("fonts/ligerbots-attendance-font.ttf") format("truetype"),
		url("fonts/ligerbots-attendance-font.svg#ligerbots-attendance-font") format("svg");
	font-weight: normal;
	font-style: normal;

}