body, html{
	/* Default style for the document */
	font-family: sans-serif;
	color: white;

	/* Background style */
	background-image: url("../img/bg.png");

	/* Page format */
	padding: 0;
	margin: 0;
	min-height: 100vh;
	min-width: 1500px;

	/* Position, required for absolute children */
	position: relative;
}

.box {
	/* Box style */
	background-color: #151515;
	padding: 10px;
	border: 2px solid black;
}

.topbar {
	/* Bar style */
	border: none;
	border-bottom: 2px solid black;
}

.bottombar {
	/* "Taskbar" style */
	border: none;
	border-top: 2px solid black;
	position: fixed;
	bottom: 0;
	width: calc(100vw - 20px);
}

.cardbox {
	/* Align the cards to the center */
	text-align: center;
	display: inline-block;
	width: 100%;
	/* Padding to keep the footer from covering things up */
	padding-bottom: 60px;
}

.inactivecardbox {
	/* Don't want to see these */
	display: none;
}

.card {
	/* Card style */
	margin: 10px;
	width: calc(100% - 44px);
	/* Position, required for absolutely positioned children */
	position: relative;
	/* Text Style */
	text-align: left;
}

.cardname {
	/* Card name style */
	font-size: 130%;
	text-align: left;
}

.cardicon {
	/* "Taskbar" entry style */
	margin: 3px;
	border: 2px solid #202020;
	background: #101010;
	padding: 3px;
	display: inline-block;
}

.addusertable {

}

/* Properties for the input box cell */
.addusertable .inputcell {
	/* The Input box itsself will deal with the padding and stuff */
	padding: 0;
}
/* Properties for the input box */
.addusertable .inputcell input {
	/* Fill it up */
	height: 100%;	width: calc(100% - 10px);
	border: none;
	padding: 2.5px; margin: 2.5px;
	/* Set the style */
	color: white;
	background-color: rgba(0,0,0,.1);
	font-size: 100%; /* This is necessary for some reason */
}

/* Container for mason layout */
.masonbox {
}
.masonbox .column {
	/* Column style */
	display: inline-block;
	width: 33%;
	vertical-align: text-top;
}

/* Classes for making elements desktop or mobile specific */
.desktop {
	display: inherit;
}
.mobile {
	display: none;
}

/* Mobile page style */
@media only screen and (max-device-width: 600px) {
	/* Remove minimum width */
	html, body {
		min-width: 0px;
	}
	/* Make "taskbar" go to the bottom */
	.bottombar {
		position: absolute;
		bottom: 0;
	}
	/* Set card style */
	.card {
		width: calc(100% - 44px);
	}
	/* Set card box style */
	.cardbox {
		display: inline-block;
	}
	/* Classes for making elements desktop or mobile specific */
	.desktop {
		display: none;
	}
	.mobile {
		display: inherit;
	}
}